.nomeEmpresa {
    margin-top: 5%;
    margin-left: 5%;
    font-family: cursive;
    font-size: 36px;
    color: white
}
  

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(31, 30, 28),rgb(78, 72, 52));  
 
   
}
.box {
    color: white;
    position: absolute;
   /* top: 50%;*/
   top: 10%;
    right: 3%;
    width: 35%;
    
    /*transform: translate(-50%,-50%);*/
    transform: translate(-5%,-5%);
    background-color: rgb(33, 134, 126);
    padding: 10px;
    border-radius: 15px;
   box-sizing: border-box;
    
     
    
    
    
}
fieldset {
    border: 3px solid rgb(160, 144, 65);
   

}
legend {
    border: 1px solid #dbd40b;
    padding: 10px;
    text-align: center;
    background-color: rgb(82, 92, 235);
    border-radius: 8px;
    
}
.inputBox {
    position: relative;

}
.inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;  
}
.labelInput {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: 1s;
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: rgb(95, 49, 6)ue;    
}
#data_nasc {
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}
#submit {
    background-image: linear-gradient(to right,rgb(82, 179, 235), rgb(25, 39, 236));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
#submit:hover {
    background-image: linear-gradient(to right,rgb(53, 125, 167), rgb(7, 16, 139));
}